@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variable.scss";
@import "./mixins.scss";

// basic overwriting styles

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    color: var(--body-bg);
    background-color: var(--body);
    @include Font(0.875rem, 1.375rem);
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: var(--font-m);
    @include Font(0.875rem, 1.375rem);
}

.select {
    background: url(../../public/chevronDown.svg) no-repeat;
    background-size: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position: 93% center;
    padding: 10px 20px;

    &:focus {
        outline: none;
    }
}

// input number icon removing
input[type="number"] {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

input:focus {
    outline-color: transparent;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.onlyMob {
    display: none;
}

@media screen and (max-width:1189px) {
    .onlyMob {
        display: block;
    }

    .mobList {
        background: var(--body);
        position: absolute;
        width: 100%;
        height: 100vh;
        left: -105%;
        top: 0;
        padding: 25px 0;
        display: block;
        z-index: 1;
        transition: all .5s ease;

        li {
            margin: 0 0 20px !important;
        }

        &.open {
            left: 0;
        }
    }
}